
<div class="members">
  <div id="members-list">
    <ul>
      <% users.keys.map(&:to_s).each do |user| %>
        <li><a href="/profile/<%= user %>"><%= user %></a></li>
      <% end %>
    </ul>
  </div>

  <div id="main-content">
    <h2>Join the Conversation</h2>
    <form action="/community/general" method="post">
      <textarea id="forum-post" name="message"></textarea><br>
      <button type="submit">Post</button>
    </form>

    <h2>Community Forum</h2>
    <div id="msg-forum"></div>
      <ul id="msg-list">
        <% get_forum_posts.each do |id, data| %>
          <li>
            <label class="msg-data"><%= data[:username] %> | <%= data[:time] %></label><br>
            <div class="msg-content"><%= data[:message] %></div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% content_for :sub_menu do %>
  <li><a class="nav-button" href="/community/general">General</a></li>
  <li><a class="nav-button" href="/community/recipes">Recipes</a></li>
<% end %>